name: Build, Test and Deploy Next.js App

on:
  push:
    branches: [ main, dev/amrit ]
  workflow_dispatch:

jobs:
  build-and-docker:
    uses: Praxis-Innovations/github-actions/.github/workflows/yarn-build-test-docker.yml@main
    with:
      node-version: '18'
      project-type: 'nextjs'
      build-command: 'yarn build'
      test-command: 'yarn type-check'
      start-command: 'yarn start'
      build-output-dirs: '.next/,public/'
      dockerfile-path: './Dockerfile'
      docker-context: '.'
      image-name: 'praxis-innovations'
      port: '3000'
      yarn-version: '1.x'
      enable-yarn-berry: false
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}